.container {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.form-container {
    min-width: 25%;
    min-height: fit-content;
}

.register-radio {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.register-radio input {
    margin: 0 5px 0 10px;
}
