.success {
  height: 100vh;
  padding: 0;
  margin: 0;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: #373737;
  flex-direction: column;
}

.success_area {
  background-color: #707070;
  height: 100%;
  margin-right: 20%;
  margin-left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.success_area h2, h5,
p {
  color: #fff;
}

.success_content {
    background-color: #373737;
    padding: 24px 24px;
    border-radius: 5px;
}

.success_area p {
  line-height: 32px; /* within paragraph */
  margin-bottom: 30px;
}