@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

#root {
    height: 100vh;
    padding-top: 55px;
    box-sizing: border-box;
}

.App {
  height: 100%;
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
}

.content-container {
  height: 100%;
  box-sizing: content-box;
}
