.api-card {
    height: 300px;
    text-align: left;
    transition: 0.15s all ease-in-out;
    flex-basis: 31%;
    box-shadow: 0px 10px 20px -13px rgba(0,0,0,0.46);    
    background-color: rgba(0,0,0,0)
    /*box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;*/
}

.api-card:hover {
    transform: scale(1.04);
}

.api-card-image {
    height: 50%;
    background-color: #fafafa;
    border-radius: 6px 6px 0px 0px;
}

.api-card-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.api-card-content {
    height: 50%;
    background-color: rgb(58, 58, 58);
    border-radius: 0px 0px 6px 6px;
    color: #fafafa;
    box-sizing: border-box;
    padding: 6px;
}

.api-card-description {
    text-overflow: wrap;
}
